@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 45px;
    height: 45px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-color: #e74c3c;
    cursor: pointer;
    border-radius: 3px;

    color: transparent;
    border: none;
    outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    outline: none;
    background-color: #716b65;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
    color: #615b57;
}


.slick-prev:before,
.slick-next:before
{
    font-family: 'icomoon' !important;
    font-size: 30px;
    line-height: 1;


    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 50px;
    z-index: 1;
}
[dir='rtl'] .slick-prev
{
    right: 0;
    left: auto;
}
.slick-prev:before
{
    content: '\e900';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 50px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0;
}
.slick-next:before
{
    content: '\e902';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */

.slick-dots
{
    position: absolute;
    top: 50%;
    -webkit-transform: -50%;
    -ms-transform: -50%;
    -o-transform: -50%;
    transform: -50%;
    left: 50px;

    display: block;

    padding: 0;
    margin: 0;

    list-style: none;

}
.slick-dots li
{
    position: relative;
    width: 2px;
    height: 34px;
    margin: 8px 0;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 2px;
    height: 34px;

    cursor: pointer;
    outline: none;
    background: #3e3e3e;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'icomoon' !important;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 3px;
    height: 34px;
    
    content: '';
    text-align: center;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    background: #e74c3c;
}